body {
  background: #fdedec;
  font-family: 'Nunito', sans-serif;
}

.blurb h2 {
  color: #ea1c2c;
  font-weight: 100;
  font-size: 2.5rem;
}

.blurb p {
  color: black;
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 2;
}

.content {
  margin-top: 100px;
  margin-bottom: 100px;
}

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavbar .nav-link {
  color: #ea1c2c;
}

#mainNavbar .nav-link:hover {
  color: white;
}

#mainNavbar .navbar-brand {
  color: #ea1c2c;
  font-size: 1.8rem;
  font-weight: 800;
}

#headingGroup span {
  color: #ea1c2c;
  font-weight: 800;
}

#headingGroup h1 {
  font-weight: 100;
  font-size: 3.6rem;
  color: black;
}

.navbar.scrolled {
  background-color: rgb(222, 192, 222);
  transition: background 500ms;
}

@media (max-width: 1200px) {
  #headingGroup h1 {
    font-weight: 100;
    font-size: 3rem;
  }
}
